@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700|Raleway:400,700);

/**
 * Variables
 */

$primary-color: white;
$accent-color: #2196F3;
$support-color: #757575;
$warn-color: #f44336;
$success-color: #4CAF50;

$tablet: "max-width: 800px";
$mobile: "max-width: 640px";

/**
 * Mixins & Functions
 */

@function get-vw($target) {
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@mixin fade-stagger {
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation: fade .4s .1s * $i infinite linear;
    }
  }
}

@mixin responsive-font($init, $scaled) {
  font-size: $init;
  @media screen and ($tablet) {
    font-size: $scaled;
  }
}

@mixin responsive-window($bg) {
  position: relative;
  height: 100vh;
  background: $bg;
}

@mixin align-hack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin randomizer($multiple, $lum) {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      background: hsl($multiple * $i, 100%, $lum);
    }
  }
}

@mixin vw($base-size, $break-size, $breakpoint) {
  font-size: get-vw($base-size);
  letter-spacing: -1px;
  @media screen and ($breakpoint) {
    font-size: $break-size;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * App-wide Styles
 */

body {
  font-family: 'Raleway';
  background: $primary-color;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
  outline: none;
}

h1 {
  font-size: get-vw(75px);
}

h2 {
  font-size: get-vw(60px);
}

h3 {
  @include vw(50px, 26px, $tablet);
}

h4 {
  @include vw(35px, 22px, $tablet);
}

h5 {
  @include vw(25px, 20px, $tablet);
}

h6 {
  @include vw(17px, 18px, $tablet);
}

p, i, span, a, label, input, textarea, button {
  @include responsive-font(20px, 14px);
  font-family: 'Raleway';
  line-height: 1.25;
  letter-spacing: 1px;
}

a {
  color: $accent-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import '../components/footer/footer.scss';
// endinjector
