.splash {
  display: flex;
  width: 100%;
  height: 100vh;
  background: url('../../assets/images/FullSizeRender.jpg') center/cover;
  justify-content: center;
  .hero {
    align-self: center;
    text-align: center;
    color: white;
  }
}

.skills {
  text-align: center;
  h2 {
    margin: 60px 0;
  }
  .graph {
    display: flex;
    width: 0;
    margin: 40px auto;
    visibility: hidden;
    &.active {
      visibility: visible;
      animation: grow 1s ease-out forwards;
    }
    div {
      height: 100%;
    }
  }
}

.javascript {
  div {
    @include randomizer(140, 70%);
  }
  .angular {
    width: 50%;
  }
  .react {
    width: 20%;
  }
  .node {
    width: 30%;
  }
}

.style {
  div {
    @include randomizer(190, 70%);
  }
  .sass {
    width: 60%;
  }
  .css {
    width: 30%;
  }
  .less {
    width: 10%;
  }
}

.basics {
  div {
    @include randomizer(210, 70%);
  }
  .git {
    width: 60%;
  }
  .html {
    width: 20%;
  }
  .jade {
    width: 20%;
  }
}

.tools {
  div {
    @include randomizer(110, 70%);
  }
  .grunt {
    width: 30%;
  }
  .gulp {
    width: 30%;
  }
  .webpack {
    width: 40%;
  }
}

.work {
  h2 {
    margin: 60px 0;
  }
  .screen {
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
  }
  & > div {
    margin: 80px 0;
  }
}

.mesh .screen {
  background: url('../../assets/images/lock-screen.png') center/cover;
  &.active {
    background: url('../../assets/images/mesh-screen.png') center/cover;
  }
}

.pirate .screen {
  background: url('../../assets/images/login-screen.png') center/cover;
  &.active {
    background: url('../../assets/images/pirate-screen.png') center/cover;
  }
}

.speakto .screen {
  background: url('../../assets/images/login-screen.png') center/cover;
  &.active {
    background: url('../../assets/images/speakto-screen.png') center/cover;
  }
}

.stack {
  display: flex;
  width: 50%;
  margin: 10px auto;
  justify-content: space-around;
  img {
    width: get-vw(90px);
    height: get-vw(90px);
    margin: 0 5px;
  }
}

.iphone-6, .imac {
  font-size: get-vw(4px);
}

.macbook-air {
  font-size: get-vw(5px);
}

.contact {
  width: 40%;
  margin: 20px auto;
  @media screen and ($tablet) {
    width: 70%;
  }
  img {
    width: get-vw(100px);
    height: get-vw(100px);
    border-radius: 100%;
  }
  form > div {
    @include randomizer(210, 70%);
    margin: 10px 0;
    padding: 10px;
  }
  label, input, textarea {
    display: block;
  }
  label {
    text-align: left;
  }
  input, textarea, button {
    width: 100%;
    background: none;
    border: none;
    outline: none;
  }
  textarea {
    height: 222px;
  }
}

@keyframes grow {
  0% {width: 0;}
  100% {width: 75%}
}
