d-three {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.splash {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  .hero {
    align-self: center;
    color: white;
    text-align: center;
    z-index: 100;
  }
  .more {
    margin-top: get-vw(8px);
    padding: get-vw(5px);
    color: white;
    background: none;
    border: 5px solid white;
    outline: none;
    cursor: pointer;
  }
}

.skills {
  text-align: center;
  h2 {
    margin: get-vw(45px) 0;
  }
  .graph {
    display: flex;
    width: 0;
    margin: get-vw(30px) auto;
    visibility: hidden;
    &.active {
      visibility: visible;
      animation: grow 1s ease-out forwards;
    }
    div {
      height: 100%;
    }
  }
}

.javascript {
  div {
    @include randomizer(140, 70%);
  }
  .angular {
    width: 50%;
  }
  .react {
    width: 20%;
  }
  .node {
    width: 30%;
  }
}

.style {
  div {
    @include randomizer(190, 70%);
  }
  .sass {
    width: 60%;
  }
  .css {
    width: 30%;
  }
  .less {
    width: 10%;
  }
}

.basics {
  div {
    @include randomizer(210, 70%);
  }
  .git {
    width: 60%;
  }
  .html {
    width: 20%;
  }
  .jade {
    width: 20%;
  }
}

.tools {
  div {
    @include randomizer(110, 70%);
  }
  .grunt {
    width: 30%;
  }
  .gulp {
    width: 30%;
  }
  .webpack {
    width: 40%;
  }
}

.work {
  h2 {
    margin: get-vw(45px) 0;
  }
  .screen {
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
  }
  & > div {
    margin: get-vw(60px) 0;
  }
}

.mesh .screen {
  background: url('../../assets/images/lock.png') center/cover;
  &.active {
    background: url('../../assets/images/mesh.png') center/cover;
  }
}

.pirate .screen {
  background: url('../../assets/images/login-screen.png') center/cover;
  &.active {
    background: url('../../assets/images/pirate-screen.png') center/cover;
  }
}

.speakto .screen {
  background: url('../../assets/images/login-screen.png') center/cover;
  &.active {
    background: url('../../assets/images/speakto-screen.png') center/cover;
  }
}

.stack {
  display: flex;
  width: 40%;
  margin: get-vw(10px) auto;
  justify-content: space-around;
  @media screen and ($tablet) {
    width: 90%;
  }
  img {
    width: get-vw(50px);
    height: get-vw(50px);
    margin: 0 5px;
    @media screen and ($tablet) {
      width: 50px;
      height: 50px;
    }
  }
}

.iphone-6, .imac {
  font-size: get-vw(4px);
}

.macbook-air {
  font-size: get-vw(5px);
}

.contact {
  width: 40%;
  margin: get-vw(20px) auto;
  @media screen and ($tablet) {
    width: 70%;
  }
  img {
    width: get-vw(100px);
    height: get-vw(100px);
    border-radius: 100%;
  }
  form > div {
    @include randomizer(210, 70%);
    margin: 10px 0;
    padding: 10px;
    overflow: hidden;
  }
  label, input, textarea {
    display: block;
  }
  label {
    text-align: left;
  }
  input, textarea, button {
    width: 100%;
    background: none;
    border: none;
    outline: none;
  }
  textarea {
    height: 222px;
  }
}

.name.sent {
  animation: shrink .5s ease-out forwards;
}

.email.sent {
  animation: shrink .5s .5s ease-out forwards;
}

.msg.sent {
  animation: shrink .5s 1s ease-out forwards;
}

.send.sent {
  animation: shrink .5s 1.5s ease-out forwards;
}

.thanks {
  opacity: 0;
  transition: all .5s 1.5s ease-in;
  &.sent {
    opacity: 1;
  }
}

.quote {
  position: relative;
  padding: 15vh 0;
  background: url('../../assets/images/IMG_4110.jpg') center/cover;
  background-attachment: fixed;
  overflow: hidden;
  @media screen and (max-width: 1224px) {
    background: url('../../assets/images/IMG_4134.jpg') bottom/cover;
    background-attachment: local;
  }
  &.active {
    .text {
      animation: appear .5s ease-out forwards;
    }
  }
  .text {
    transform: translateY(500px);
  }
  h4, p {
    color: white;
  }
}

.copyright {
  padding: get-vw(20px) 0;
}

@keyframes appear {
  0% { transform: translateY(500px); }
  90% { transform: translateY(-99px); }
  100% { transform: translateY(0); }
}

@keyframes grow {
  0% { width: 0; }
  100% { width: 85%; }
}

@keyframes shrink {
  0% { transform: scale(1) skew(0); }
  90% { transform: scale(1.2) skew(20deg); }
  100% { transform: scale(1) skew(0); }
}
